.comment-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
  }

.comment-card-list {
  list-style: none;
  padding: 0;
}

.comment-card {
  border: 5px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-bottom: 5%;
  max-width: 800px;
}

.comments-header {
    margin-top: 5%;
    margin-bottom: 0;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-body {
    text-align: left;
}